@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<!DOCTYPE html>
<html>
<head>
    <title>EMPLOYEE LIST</title>
</head>
<body>
    <h1>DETAILS</h1>
    <div class="card">
        <div class="table-responsive text-nowrap m-5">
            <a class="btn btn-success mb-3" asp-area="Views" asp-controller="Employee" asp-action="AddEmployee">
                                Add User <i class="bx bx-plus"></i>
                            </a>
            <table class="table table-bordered" id="usersTable" width="100%" cellspacing="0">
        <tr>
            <th>EmployeeID</th>
            <th>FirstName</th>
            <th>LastName</th>
                    <th>Email</th>
        </tr>
                <tbody class="table-border-bottom-0">
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                            <td>@employee.FirstName</td>
                            <td>@employee.LastName</td>
                            <td>@employee.Email</td>
                            <td>
                                <a class="btn btn-primary btn-sm"  asp-area="Admin" asp-controller="User" asp-action="Update" ><i class="bx bxs-edit"></i></a>
                                <a class="btn btn-danger btn-sm"  asp-area="Admin" asp-controller="User" asp-action="Delete"><i class="bx bx-minus-circle"></i></a>

                            </td>
            </tr>
        }
                </tbody>
    </table>
        </div>
    </div>
</body>
</html>


