@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    @model NugetBusiness.Models.DepartmentModel;

    <h2>Add Department</h2>

    <form asp-action="AddDepartment" method="post">
        <div class="form-group">
            <label for="firstName">Name of Department</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Departmentname" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Department</button>
    </form>


}
