@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <!DOCTYPE html>
    <html>
    <head>
        <title>DEPARTMENT LIST</title>
    </head>
    <body>
        <h1>DETAILS</h1>
        <div class="card">
            <div class="table-responsive text-nowrap m-5">
                <a class="btn btn-success mb-3" asp-area="Views" asp-controller="Department" asp-action="AddDepartment">
                    Add Department <i class="bx bx-plus"></i>
                </a>
                <table class="table table-bordered" id="usersTable" width="100%" cellspacing="0">
                    <tr>
                        <th>Department ID</th>
                        <th>Department Name</th>
                    </tr>
                    <tbody class="table-border-bottom-0">
                        @foreach (var a in Model)
                        {
                            <tr>
                                <td>@a.Id</td>
                                <td>@a.Name</td>
                                <td>
                                    <button type="button" class="btn btn-success">Edit</button>
                                    <form method="post" action="@Url.Action("DeleteDepartment", "Department")">
                                        <input type="hidden" name="id" value="@a.Id" />
                                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this department?')">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    </html>
}




